<!DOCTYPE html>
<html>
    <div>
        <form action="http://localhost/fetch/index.php" method="post">
            <input type="text" name="firstName" placeholder="Enter first name" required>
            <input type="text" name="lastName" placeholder="Enter last name" required>
            <input type="email" name="email" placeholder="Enter valid email" required>
            <input type="number" name="phone" placeholder="Enter 10 digit phone number" required>
            <button type="submit" value="submit">Submit</button>
        </form>
    </div>
</html>
